
/**
 * @file
 * Style the Content Profile Form Parts admin page.
 */

body div.messages {
  margin-bottom: 0;
}
#profile-form-parts-admin-settings p {
  margin-top: 1em;
}
#profile-form-parts-admin-settings table {
  margin: 0;
}
.profile-form-parts-block-parts {
  margin-bottom: 2em;
}
#profile-form-parts-admin-settings .messages.unsaved {
  display: table;
  width: 100%;
  position: relative;
  text-align: right;
  vertical-align: middle;
  visibility: hidden;
}
#profile-form-parts-admin-settings .messages.unsaved.shown {
  visibility: visible;
}
#profile-form-parts-admin-settings .messages.unsaved p {
  display: table-cell;
  margin: 0;
  text-align: left;
}
#profile-form-parts-admin-settings .messages.unsaved input {
  margin: 0;
}
/* The div surrounding the link-text field */
.profile-form-parts-block-header div.form-item {
  display: inline-block;
  margin-right: 1em;
  margin-top: .5em;
  margin-bottom: .8em;
}
.profile-form-parts-block-header label {
  display: inline-block;
}
#profile-form-parts-admin-settings .throbber {
  float: none;
  margin: 0 0 0 2px;
  padding: 0;
  position: relative;
  top: -2px;
}
#profile-form-parts-admin-settings .ahah-progress {
  float: none;
  display: inline-block;
}
#add-block-button {
  height: 45px;
}
#add-block-button label {
  line-height: 26px;
  margin-left: 2px;
}
.remove-block-button {
  display: inline-block;
  margin-top: 2px;
}
.remove-block-button .progress-disabled, #add-block-button .progress-disabled {
  float: none;
}
#add-block-button input,
.remove-block-button input {
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: 0;
  text-indent: -9999px;
  cursor: pointer; /* Hand shaped cursor */
  cursor: hand; /* for old versions of IE */
}
#add-block-button input {
  background: transparent url('add-rule-button.png') left top no-repeat;
}
.remove-block-button input {
  background: transparent url('remove-rule-button.png') left top no-repeat;
}
